body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#0d4b68ba;  
    font-family: 'Arial';  
}  
.login{  
        width: 450px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #23463f;  
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
}  
label{  
    color: #08ffd1;  
    font-size: 20px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    float: inline-end;
    width: 120px;  
    height: 30px;  
    border: 2px dotted;  
    border-radius: 10px;  
    padding-left: auto;  
    color: blue;  
}
#signup{
    float: inline-end;
    width: 180px; 
    height: 30px;   
    border: 2px dotted; 
    border-radius: 10px;  
    padding-right: auto;  
    color: blue;
}  
span{  
    float: none;
    color: white;  
    font-size: 18px;  
}  
a{  
    float: inline-end;  
    text-align: center;
    width: 120px; 
    border: solid;
    border-radius: 12px;  
    padding-left: 0px;
    background-color: grey; 
}  

.style1{color:#00d09d;}

#top_links
{
margin:0 auto;
padding:0px;
width:900px;
height:40px;
}
#header
{
margin:0 auto;
float: inline-start;
background:#000 url(images/globe_03.gif) 0 0 no-repeat;
width:897px;
height:282px;
}
#header h1
{
font:bold 45px/18px Arial, Helvetica, sans-serif;
color:#FFFFFF;
float: inline-start;
padding-left:280px ;
padding-top: 100px;
}
#header h2
{
font:bold italic 24px/18px Arial, Helvetica, sans-serif;
color:#ababab;
padding:20px 0 0 380px;
}
